<!DOCTYPE HTML>
%html
  %head
    = stylesheet_link_tag "jquery-ui-1.8.11.custom.css"
    = stylesheet_link_tag "butler.css"
    = javascript_include_tag "json2"
    = javascript_include_tag "jquery-1.5.1.min.js"
    = javascript_include_tag "jquery-ui-1.8.11.custom.min.js"
    = javascript_include_tag "jquery-url-parser/jquery.url.js"
    = javascript_include_tag "signals"
    = javascript_include_tag "log"
    = javascript_include_tag "communicate"
    = javascript_include_tag "errorbar"
    = javascript_include_tag "role"
    :javascript
      default_communicator = new Ajax(function (response) {
        ShowError("default_success_callback triggered; success not handled.");
        Logger.log("default_success_callback triggered; success not handled. Data was " + JSON.stringify(data));
      },
      function(error_description) {
        ShowError(error_description.short_description);
        Logger.log(error_description.long_description);
      });

      function highlight_current_location_tab() {
        // applies highlighting to the tab that
        // matches the path we're in
        var locs = $.url($(location).attr('href'))
          .attr('path').split('/');
        if(locs.length >= 2) {
          $("#app_"+locs[1]+"_tab")
            .addClass("ui-tabs-selected")
            .addClass("ui-state-active");
        }
      }

      function run_command_text(
        input_string, output_callback) {
        // Sends a command to the server in immediate mode
        // and posts the result back.
        output_callback("Running command...");

        var communicator = new Ajax(function (response) {
          output_callback(response["response"]);
        },
        function (fail_object) {
          output_textbox.val(fail_object.long_description);
        });

        communicator.post("/immediate_script", {
          "command" : input_string});
      }

      function run_command(input_textbox, output_textbox) {
        run_command_text(input_textbox.val(),
        function (response) {
          output_textbox.val(response);
        });
      }

      $(function () {
        $("#show_log_button").button()
          .click(function () {Logger.show_log();});
        $("#hide_log_button").button()
          .click(function () {Logger.hide_log();});
        $("#show_console_button").button()
          .click(function () {$("#console").show();});
        $("#run_command_button").button()
          .click(function () {
              run_command($("#console_input"), $("#console_output"));
            });
        $("#hide_console_button").button()
          .click(function () {$("#console").hide();});
        highlight_current_location_tab();
      });
  %body
    %div{:class=>"ui-tabs ui-widget ui-widget-content ui-corner-all"}
      %ul{:class=>"ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"}
        %li{:id=>"app_control_panel_tab", :class=>"ui-state-default ui-corner-top"} <a href="/control_panel/index">Control Panel</a>
        %li{:id=>"app_script_tab", :class=>"ui-state-default ui-corner-top"} <a href="/script/index">Scripts</a>
        %li{:id=>"app_servants_tab", :class=>"ui-state-default ui-corner-top"} <a href="/servants/index">Servants</a>
        %li{:id=>"app_documentation_tab", :class=>"ui-state-default ui-corner-top"} <a href="/documentation/index">Documentation</a>
        %li{:id=>"app_variable_tab", :class=>"ui-state-default ui-corner-top"} <a href="/variable/index">Variables</a>
    #errorbar
      %button{:class=>"closebox"} OK
      .errormsg
        Hello, world!

    .content
      = yield
    #controls
      %button{:id=>"show_log_button"} Show Log
      %button{:id=>"show_console_button"} Show Console
    #log{:class=>"dialog"}
      .background
      .log_panel{:class=>"panel"}
        .log_frame
          %ul{:id=>"log_content"}
      %button{:id=>"hide_log_button"} Hide Log
    #console{:class=>"dialog"}
      .background
      .console_boxes{:class=>"panel"}
        .console_input_frame
          %textarea{:id=>"console_input"}
        .console_output_frame
          %textarea{:id=>"console_output", :readonly=>"true"}
      .console_controls
        %button{:id=>"run_command_button"} Run Command
        %button{:id=>"hide_console_button"} Hide Console